@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --sidebar-blue: #1992d4;
  --background-gray: #e2e8f0;
  --accent-orange: #f0b429;
  --text-gray: gray;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: auto;
}

body {
  display: grid;
  grid-template-columns: [sidebar] minmax(280px, 1fr) [main] 5fr;
  grid-template-rows: [header] 1fr [main] 4fr [footer] 30px;
}

.sidebar {
  grid-area: 1/1/-1/1;
  display: grid;
  align-content: start;
  justify-content: start;
  gap: 3rem;
  padding: 25px 20px;
}

.sidebar-line {
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  gap: 15px;
}

img {
  place-self: center;
}

.sidebar-title,
.sidebar-main,
.sidebar-misc {
  display: grid;
  gap: 20px;
}

header {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.nav-bar {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.search-line {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

.account-nook {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.greetings {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin: 0 5% 12px 5%;
  gap: 12px;
}

.greetings .admin-icon {
  grid-area: 1/1/-1/1;
}

.hi-there {
  align-self: end;
}

admin-name {
  align-self: start;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 25px;
  padding: 30px;
}

.projects {
  grid-area: 1/1/-1/2;
}

.projects-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 25px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-icons {
  align-self: flex-end;
  display: flex;
  gap: 35px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 9px;
  padding: 40px 30px;
  gap: 15.7px;
  align-self: start;
  width: 100%;
}

.actualities {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 310px;
}

.trending-line {
  display: flex;
}

.trending .wrapper {
  padding: 30px;
}

.trending-line {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.trending-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sidebar {
  background-color: var(--sidebar-blue);
}

main {
  background-color: var(--background-gray);
}

input {
  height: 30px;
  width: 100%;
  border: 0;
  background-color: var(--background-gray);
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
}

input:hover {
  background-color: rgb(228, 228, 228);
  transition: all 0.1s;
}

input:focus {
  border: 2px solid #1992d4;
}

button {
  border: 0;
  color: white;
  height: 40px;
}/*# sourceMappingURL=styles.css.map */