@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --sidebar-blue: #1992d4;
  --background-gray: #e2e8f0;
  --accent-orange: #f0b429;
  --text-gray: gray;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: auto;
}

body {
  display: grid;
  grid-template-columns: [sidebar] minmax(280px, 1fr) [main] 5fr;
  grid-template-rows: [header] 1fr [main] 4fr [footer] 30px;
}

.sidebar {
  grid-area: 1/1/-1/1;
  display: grid;
  align-content: start;
  justify-content: start;
  gap: 3rem;
  padding: 25px 20px;
}

.sidebar-line {
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  gap: 15px;
}

img {
  place-self: center;
}

.sidebar-title,
.sidebar-main,
.sidebar-misc {
  display: grid;
  gap: 20px;
}

header {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.nav-bar {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.search-line {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

.account-nook {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.greetings {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin: 0 5% 12px 5%;
  gap: 12px;
}

.greetings .admin-icon {
  grid-area: 1/1/-1/1;
}

.hi-there {
  align-self: end;
}

admin-name {
  align-self: start;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 25px;
  padding: 30px;
}

.projects {
  grid-area: 1/1/-1/2;
}

.projects-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 25px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-icons {
  align-self: flex-end;
  display: flex;
  gap: 35px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 9px;
  padding: 40px 30px;
  gap: 15.7px;
  align-self: start;
  width: 100%;
}

.actualities {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 310px;
}

.trending-line {
  display: flex;
}

.trending .wrapper {
  padding: 30px;
}

.trending-line {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.trending-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sidebar {
  background-color: var(--sidebar-blue);
}

main {
  background-color: var(--background-gray);
}

input {
  height: 30px;
  width: 100%;
  border: 0;
  background-color: var(--background-gray);
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
}

input:hover {
  background-color: rgb(228, 228, 228);
  transition: all 0.1s;
}

input:focus {
  border: 2px solid #1992d4;
}

button {
  border: 0;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background-color: #1992d4;
  font-size: 1rem;
  padding: 5px;
  transition: all 0.1s;
}

.project-card {
  background-color: white;
  height: 250px;
  width: 450px;
  border-radius: 9px;
  border-left: 10px solid var(--accent-orange);
  padding: 25px;
}

hr {
  border: 0;
  margin: 0;
  padding: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: var(--background-gray);
  height: 1px;
}

.menu {
  z-index: 1000;
}

.menu,
.project-card,
.wrapper {
  box-shadow: 3px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

.sidebar-category:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  margin-bottom: 5px;
  transition: all 0.1s;
}

button:active {
  background-color: white;
  color: var(--sidebar-blue);
  border: 3px solid #f0b429;
  transition: none;
}

.sidebar-title img.sidebar-logo {
  width: 50px;
}

.sidebar img {
  width: 2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(41deg) brightness(107%) contrast(101%);
}

.admin-icon {
  border-radius: 50%;
}

.greetings .admin-icon {
  width: 90px;
}

.bell + .admin-icon {
  width: 55px;
}

.magnify {
  width: 2rem;
  margin: 5px;
}

.bell {
  width: 2rem;
}

.project-icons img {
  width: 1.6rem;
}

.icon {
  width: 55px;
  border-radius: 50%;
}

.sidebar {
  color: white;
}

.sidebar-title {
  font-weight: 700;
  font-size: 1.8rem;
}

.sidebar-line {
  font-weight: 600;
  font-size: 1.5rem;
}

input {
  font-size: inherit;
}

.account-nook {
  font-weight: 600;
}

.greetings .hi-there {
  font-weight: 600;
}

.greetings .admin-name {
  font-size: 1.5em;
  font-weight: 900;
}

button {
  font-weight: 500;
}

footer {
  background-color: var(--background-gray);
}

.project-description {
  color: var(--text-gray);
}

.project-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.project-text {
  line-height: 1.2rem;
}

.project-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.announcements-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.trending-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.announcement-title {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 5px;
  line-height: 1.1rem;
}

.announcement-content {
  color: var(--text-gray);
  font-size: 0.9rem;
}

.user-description {
  color: var(--text-gray);
}

@media (max-width: 1200px) {
  .project-card {
    width: 350px;
  }
  body {
    grid-template-columns: 1fr 4fr;
  }
  .actualities {
    width: 100%;
  }
  .projects-layout {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}/*# sourceMappingURL=styles.css.map */